body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #7c7c7c;
}

#root {
  width: 100%;
}

/* NAVBAR */
.navbar {
  width: 100%;
  background-color: #0d1b2a;
  color: white;
  padding: 15px 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.logo {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.logo:hover {
  color: #4cc9f0;
}

.login-btn,
.logout-btn {
  background-color: #1b263b;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
}

.login-btn:hover,
.logout-btn:hover {
  background-color: #4cc9f0;
  color: #0d1b2a;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-link:hover {
  color: #4cc9f0;
}

/* CONTENIDO */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin-btn {
  background-color: #1b263b;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
}

.admin-btn:hover {
  background-color: #4cc9f0;
  color: #0d1b2a;
}

.admin-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

.admin-container h1 {
  margin-bottom: 30px;
}

/* GRID */
.admin-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

/* CARD */
.admin-card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  text-decoration: none;
  color: #0d1b2a;

  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.admin-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.products-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

.products-container h1 {
  margin-bottom: 20px;
}

/* TABLA */
.products-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

/* HEADER */
.products-table thead {
  background-color: #e9ecef;
}

.products-table th {
  padding: 14px;
  text-align: left;
  font-size: 14px;
  border: 1px solid #dee2e6;
}

/* FILAS */
.products-table td {
  padding: 12px;
  border: 1px solid #dee2e6;
  font-size: 14px;
}

/* HOVER */
.products-table tbody tr:hover {
  background-color: #f1f3f5;
}

/* ===== LOGIN ===== */

.login-wrapper {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: rgb(255, 255, 255);
  padding: 40px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.9);
}

.login-card h2 {
  margin-bottom: 25px;
  text-align: center;
  color: #0d1b2a;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ced4da;
  font-size: 14px;
  transition: 0.3s;
}

.login-form input:focus {
  outline: none;
  border-color: #4cc9f0;
  box-shadow: 0 0 0 2px rgba(76, 201, 240, 0.2);
}

.login-form button {
  padding: 12px;
  border: none;
  border-radius: 6px;
  background-color: #0d1b2a;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.login-form button:hover {
  background-color: #4cc9f0;
  color: #0d1b2a;
}

 /*users*/
.users-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

.users-container h1 {
  margin-bottom: 20px;
}

/* TABLA */
.users-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

/* HEADER */
.users-table thead {
  background-color: #e9ecef;
}

.users-table th {
  padding: 14px;
  text-align: left;
  font-size: 14px;
  border: 1px solid #dee2e6;
}

/* FILAS */
.users-table td {
  padding: 12px;
  border: 1px solid #dee2e6;
  font-size: 14px;
}

/* HOVER */
.users-table tbody tr:hover {
  background-color: #f1f3f5;
}
